body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7d4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #6decc6;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.box {
    background-color: white;
    border: 2px solid #fff2fd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #23bea5;
}