* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    /* Ajusta el tamaño del logo */
}

nav {
    flex-grow: 1;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* Alinea los links a la derecha */
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
    /* Color de fondo al pasar el mouse */
    border-radius: 5px;
    /* Bordes redondeados */
}

.carousel {
    margin-top: 90px;
    /* Espacio entre el nav y el carrusel */
    width: 100%;
    /* Ancho del carrusel */
    max-width: 600px;
    /* Ajusta el ancho máximo del carrusel */
    height: 300px;
    /* Altura fija para el contenedor del carrusel */
    border-radius: 10px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Para que los bordes redondeados se apliquen */
    margin-left: auto;
    /* Centra el carrusel */
    margin-right: auto;
    /* Centra el carrusel */
    background-color: rgba(99, 178, 224, 0.87);
    /* Color de fondo */
}

.carousel img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del carrusel */
    height: auto;
    /* Mantiene la proporción de la imagen */
    max-height: 300px;
    /* Ajusta la altura máxima de las imágenes */
    object-fit: cover;
    /* Asegura que la imagen se ajuste dentro del contenedor */
}